:root {
    --secundario: #424874;
    --azulmarino: #14279B;
    --moradoClaro: #AD62AA;
    --gris: #DCD6F7;
    --blanco: #FFF;
    --negro: #000;
    --boton: #A6B1E1;
    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*Globales*/

body {
    background-color: var(--blanco);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--negro);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}


/*Header*/

.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    /*Arriba abajo el primer valor, izquierda derecha el segundo*/
    margin: 3rem 0;
}


/*Footer*/

.footer {
    background-color: var(--azulmarino);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
    color: var(--gris);
}

.navegacion {
    background-color: var(--azulmarino);
    /*Arriba abajo el primer valor, izquierda derecha el segundo*/
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
@media (min-width: 768px) {
    .navegacion__enlace{
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--gris);
    font-size: 3rem;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--moradoClaro);
}

.formulario {
    width: 40rem;
    background: var(--secundario);
    padding: 3rem;
    margin: auto;
    margin-top: 1rem;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: var(--negro)
}

.control {
    width: 100%;
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1.6rem;
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}

.formulario p {
    height: 4rem;
    text-align: center;
    font-size: 1.8rem;
}

.formulario a {
    color: var(--blanco);
}

.formulario a:hover {
    color: var(--negro);
    text-decoration: underline;
}

.formulario .boton {
    width: 100%;
    border: none;
    background: var(--boton);
    padding: 1.2rem;
    color: var(--negro);
    margin: 1.6rem 0;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
/*Grid*/
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
}
@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
        grid-column: 5/6;
        grid-row: 8/9;
    }
}
/*Productos*/
.producto{
    background: var(--gris);
    padding: 1rem;

}
.prodcuto__informacion{

}
.producto__nombre{
    font-size: 2rem;

}
.producto__precio{
    font-size: 1.8rem;
    color: var(--azulmarino);

}
.producto__nombre,
.producto__precio{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}
/**Pagina del producto**/
@media (min-width:768px) {
   
    .caja{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

}

.form{
    display: grid;
    gap: 2rem;

}
.formulario__campo{
   /** border-color: var(--azulmarino);
    border-width: 1rem;
    border-style: solid;**/
    border: 1rem solid var(--azulmarino);
    background-color: transparent;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    margin-top: 10rem;

}
.formulario__submit{
    background-color: var(--boton);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;

}
.formulario__submit:hover{
    cursor: pointer;
    background-color: var(--moradoClaro);
}

.caja__contenido p{
    margin-top: 10rem;
    height: 4rem;
    text-align: center;
    font-size: 2.8rem;
    font-family: var(--fuentePrincipal);

}